<h1>Notifications</h1>
<ul class="square">
  <% @admin_transactions.each do |transaction| %>
    <li>
      <div class="notification">
        <p>User <%= transaction.account.user.name %>
          did <%= transaction.transaction_type %>
          on <%= transaction.amount %>
          <%= transaction.currency %></p>
      </div>
    </li>
  <% end %>
</ul>
<%= link_to 'Back', root_path , :class => "button1" %>
