.button {
  position: absolute;
  right: 30px;
  padding: 10px 20px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  text-decoration: none;
  background-color: #f44242;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
#new_user {
  margin: auto;
  width: 400px;
  height: 450px;
  position: relative;
  text-align: center;
  background-color: #fff;
}
.block {
padding-top: 90px;
}

.square {
  list-style: none;
  background-color: #f2f2f2;
}
.square ul {
  padding-left: 1rem;
}
.episode {
  display: inline-block;
}

.square li {
  list-style: none;
  padding-bottom: 1rem;
  padding-top: 0.8rem;
  margin-bottom: 0.8rem;
  border-bottom: 1px solid #4CAF50;
  margin-left: 5rem;

}
.square li:last-child {
  border-bottom: 0;
}
#user_email, #user_password, #user_password_confirmation, #user_name{
  font-size: 21px;
  color:#3a3a3a;
  border: none;
  width: 70%;
  border-bottom: 2px solid   #4CAF50;
  background: inherit;
  margin-bottom: 20px;
}

label {
  color: #47a54b;
  font-size: 35px;
  font-family: 'Markazi Text', serif;
}

input[type=text] {
  font-size: 20px;
  color:#fff;
  border: none;
  border-bottom: 2px solid   #4CAF50;
  background: inherit;
  width: 22%;
  height: 30px;
  margin-bottom: 5px;
}
input[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }

input[type=submit]:hover {
  opacity: 0.6;
}

.button:hover {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

body {
  background:url("../background.png");
  margin: 0;
}


h1,h2,p  {
  text-align: center;
  font-size: 29px;
  color:#fff;
}
ul li p {
  font-size: 1.6rem;
  line-height: 1.7;
  text-align: left ;
  font-weight: 500;
  color: #4CAF50 !important;
}

.button1 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


h1 {
  font-size: 34px;
}

table {
  margin-top: 50px;
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: center;
  padding: 8px;
}

td {
  font-size: 18px;
  text-align: left;
  padding: 8px;
  text-align: center;
}

h3 {
  color:#fff;
  font-weight: 400;
  font-size : 27px;
}

tr {
  text-align: center;
  background-color: #f2f2f2;
  color: #9e9494;
  height: 50px;
}

th {
  font-size: 20px;
  background-color: #4CAF50;
  color: white;
}

a {
  color: #4CAF50;
  font-weight: bolder;
}

#notice_wrapper {
  width: 100%;
  position: absolute;
  background: #d06752;
  top: 0;
  left: 0;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.3em;
  color:#efefef;
  z-index: 999;
}

@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
.owl {
  margin: auto;
  width: 211px;
  height: 108px;
  background-image: url("../owl-login.png");
  position: relative;
  margin-bottom: -8px;
  z-index: 5;
}
.owl .hand {
  width: 34px;
  height: 34px;
  border-radius: 40px;
  background-color: #472d20;
  transform: scaleY(0.6);
  position: absolute;
  left: 14px;
  bottom: -8px;
  transition: 0.3s ease-out;
}
.owl .hand.password {
  transform: translateX(42px) translateY(-15px) scale(0.7);
}
.owl .hand.hand-r {
  left: 170px;
}
.owl .hand.hand-r.password {
  transform: translateX(-42px) translateY(-15px) scale(0.7);
}
.owl .arms {
  position: absolute;
  top: 58px;
  height: 41px;
  width: 100%;
  overflow: hidden;
}
.owl .arms .arm {
  width: 40px;
  height: 65px;
  background-image: url("https://dash.readme.io/img/owl-login-arm.png");
  position: absolute;
  left: 20px;
  top: 40px;
  transition: 0.3s ease-out;
}
.owl .arms .arm.password {
  transform: translateX(40px) translateY(-40px);
}
.owl .arms .arm.arm-r {
  left: 158px;
  transform: scaleX(-1);
}
.owl .arms .arm.arm-r.password {
  transform: translateX(-40px) translateY(-40px) scaleX(-1);
}
.form {
  margin: auto;
  margin-top: -9px;
  padding: 30px;
  background-color: #fff;
  width: 175px;
}
.form .control {
  margin-bottom: 10px;
  position: relative;
}
.form .control label {
  position: absolute;
  font-size: 16px;
  top: 11px;
  left: 9px;
  color: rgba(0,0,0,0.3);
}
