<h2><%= "Dear #{@user.name}, Your ID is #{@user.id}" %></h2>
<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Currency</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @user_accounts.each do |account| %>
      <tr>
        <td><%= account.amount %></td>
        <td><%= account.currency %></td>
        <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } , :class => 'button1' %>
        <%= link_to 'Withdraw', withdraw_path(account), :class => "button1" %> <%= link_to 'Deposit', deposit_path(account), :class => "button1" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'User Transactions',profile_info_path, :class => "button1" %>
<% if current_user.admin?%>
<%= link_to("Notifications", admin_notifications_path, :class => "button1") if user_signed_in? %>
<% end %>
