<h2>User Transactions</h2>
<table>
  <thead>
    <tr>
      <th>Account ID</th>
      <th>Amount</th>
      <th>Currency</th>
      <th>Transaction type</th>
  </thead>
</tr>

  <tbody>
    <% @user_transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.account.id %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.currency %></td>
        <td><%= transaction.transaction_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', root_path , :class => "button1" %>
